.DS_Store
.vscode/settings.json
.vscode/*
src/.DS_Store
data/.DS_Store
data/*
bin/*
build/.DS_Store
build/*.o
!build/makefile
conf/.DS_Store
include/.DS_Store
src/logger/.DS_Store
src/test_case/.DS_Store
src/test_case/build/.DS_Store
!src/test_case/build/makefile
src/test_case/build/*.o
src/test_case/build/agile_logger_test